<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<mapper namespace="cn.tedu.store.mapper.UserMapper">
	<!-- 根据用户名返回该用户的所有信息,如果没有则返回null -->
	<select id="selectUserByUsername" resultType="cn.tedu.store.bean.User">
		select id,username,password,email,phone,image,gender,created_user as createdUser,created_time as createdTime,
		modified_user as modifiedUser,modified_time as modifiedTime 
		from t_user
		where username=#{username}
	</select>
	<!-- 注册用户 -->
	<insert id="registerUser">
		insert into t_user(
			username,password,email,phone,image,gender,created_user,created_time,modified_user,modified_time
		)values(
			#{username},#{password},#{email},#{phone},#{image},#{gender},#{createdUser},#{createdTime},#{modifiedUser},#{modifiedTime}
		)
	</insert>
	<!-- 根据邮箱返回该用户的所有信息,如果没有则返回null -->
	<select id="selectUserByEmail" resultType="cn.tedu.store.bean.User">
		select id,username,password,email,phone,image,gender,created_user as createdUser,created_time as createdTime,
		modified_user as modifiedUser,modified_time as modifiedTime 
		from t_user
		where email=#{email}
	</select>

</mapper>