/*主页面*/
body{
	background-image: url("../images/city/city10.jpg");
	background-size:100%;
}
#index{
		position:absolute;
		left:455px;
		top:265px; 
		width: 600px;
		height: 200px;
		background-color:#492626;
		font-size: 60px;
		font-style: normal;
	}
	#start{
		color:#FF832C;
		position: absolute;
		left:120px;
		top:57px;
	}
#search_0{
	width:800px;
	height:70px;
	position:absolute;
	left:361px;
	top:550px;
	color:#FF832C;
	opacity: 0.65;
	align-items:center;
	text-align:center;
	font-size: 35px;
}
#search{
	width:350px;
	height:50px;
	background-color:#492626;
	color:#FF832C;
	font-size: 25px;
}
#seek{
	display:block;
	height:56px;
	width:105px;
	background-color:#492626;
	color:#FF832C;
	position:absolute;
	top:0px;
	left:681px;
	font-size: 25px;
}
