/*订单展示页面*/
body{
	background-image: url("../images/city/city12.jpg");
	background-size:100%;
}
.order{
	position:absolute;
	left:11px;
	top:175px;
	width:1270px;
	height:720px;
	background-color:#492626;
	color:#FF832C;
	font-size:20px;
	font-style:normal;
	margin:30px;
	padding:40px;
	overflow:auto;
	opacity: 0.65; 
}
.img{
	width:250px;
	height:115px;
}
.span_0{
	display: inline-block;
	color:#FF832C;
	width:150px;
	height:115px;
	margin-left:0px;
	margin-top: 35px;
}
.span_1{
	display: inline-block;
	background-color:#492626;
	color:#FF832C;
	width:130px;
	height:80px;
	margin-top: 10px;
	position: relative;
	left: 10px;
	top:10px;
}
.but_sub{
	display:inline-block;
	float: right;
}